@use '../helpers' as *;

.accordion{

    &__details{
        &[open]{
            .accordion__title{
                &::before,
                &::after{
                    background-color: var(--color-light);
                }

                &::after{
                    rotate: 0deg;
                }
            }

            & + .accordion__content{
                grid-template-rows: 1fr;
            }
        }
    }

    &__summary{
        list-style: none;
        color: var(--color-light);

        &::-webkit-details-marker{
            display: none;
        }

        @include hover{
            color: var(--color-accent);
            transition-duration: 0.4s;
        }
    }

    &__title{
        position: relative;
        padding-right: rem(50);
        color: inherit  ;

        &::before,
        &::after{
            @include abs-y;

            content: '';
            right: 0;
            width: rem(16);
            height: rem(2);
            background-color: var(--color-accent);
            border-radius: 1rem;
            transition-duration: var(--transition-duration);
        }

        &::after{
            rotate: 90deg;
        }
    }

    &__content{
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: 0.3s;

        &-inner{
            overflow: hidden;
        }

        &__content-body{
            --ofsetTop: #{fluid(24,20)};
    
            margin-top: var(--ofsetTop);
            padding-top: var(--ofsetTop);
            border-top: var(--border);
        }
    }
}