@use '../helpers' as *;

.checkbox{
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    color: var(--color-light);

    @include hover{
        color: var(--color-accent);

        .checkbox__input{
            border-color: var(--color-accent);
        }
    }

    &__input{
        --size: #{rem(28)};
        
        margin: 0;
        background-color: var(--color-dark-10);
        appearance: none;
        border: var(--border);
        border-radius: rem(4);

        @include square(var(--size));
        @include flex-center;

        @include laptope{
            --size: #{rem(24)};
        }

        &:not(:checked){
            &::after{
                @include hide;
            }
        }

        &::after{
            content: '✓';
            color: var(--color-light);
            transition-duration: var(--transition-duration);
            text-align: center;
        }

        &:user-invalid{
            border-color: var(--color-red);
        }
    }
}