@use '../helpers' as *;

.field{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: rem(16);
    font-weight: 500;
    font-size: rem(18);
    color: var(--color-light);

    &__body{
        display: flex;
        column-gap: rem(16);
        width: 100%;

        @include laptope{
            column-gap: rem(12);
        }
    }

    @include laptope{
        row-gap: rem(12);
        font-size: rem(16);
    }

    &__reqierd-star{
        color: var(--color-red);
    }

    &__control{
        width: 100%;
        height: rem(67);
        padding-inline: rem(20);
        color: var(--color-light);
        background-color: var(--color-dark-10);
        border: var(--border);
        border-radius: rem(8);

        @include laptope{
            height: rem(53);
            padding-inline: rem(16);
        }

        @include hover{
            border-color: var(--color-accent);
            box-shadow: var(--shadow);
        }

        &::placeholder{
            color: var(--color-dark-40);
        }

        &:user-invalid{
            border-color: var(--color-red);
        }
    }

    textarea.field__control{
        resize: vertical;
        min-height: rem(163);
        padding-block: rem(20);

        @include laptope{
            padding-block: rem(16);
        }

        @include mobile{
            min-height: rem(127);
        }
    }
}