@use '../helpers' as *;

.report-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: fluid(30,20);

    &__image{
        width: 100%;
        height: rem(290);
        object-fit: cover;
        border-radius: rem(12);

        @include mobile{
            height: rem(223);
        }
    }

    &__body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: rem(14);

        @include laptope{
            row-gap: rem(10);
        }
    }

    &__actions{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: rem(20);

        @include laptope{
            column-gap: rem(10);
        }
    }
}