@use '../helpers' as *;

.team{
    --personImagesSize: #{rem(60)};

    display: flex;
    padding: rem(10);
    background-color: var(--color-dark-10);
    border-radius: rem(100);

    @include laptope{
        --personImagesSize: #{rem(50)};

        padding: rem(8);
    }

    @include tablet{
        --personImagesSize: #{rem(40)};

        
    }

    &__person{
        width: var(--personImagesSize);
        background-color: var(--color-dark-15);
        border: rem(2) solid var(--color-dark-40);
        border-radius: 50%;

        @include laptope{
            border-width: rem(1);
        }

        &:not(:first-child){
            margin-left: calc(var(--personImagesSize) / 4 * -1);
        }
    }
}
